AIRPORT_RUNWAY_COUNT=2
AIRPORT_GATE_COUNT=6
AIRPORT_GROUND_CREW_COUNT=3
AIRPORT_TAKEOFF_SEPARATION_MINUTES=2
AIRPORT_LANDING_SEPARATION_MINUTES=3
AIRPORT_MIXED_SEPARATION_MINUTES=4
AIRPORT_GATE_TURNAROUND_MINUTES=25
AIRPORT_DEPENDENCY_BUFFER_MINUTES=10
AIRPORT_MAX_SCHEDULING_HORIZON_MINUTES=720
AIRPORT_ARRIVAL_DURATION_MINUTES=12
AIRPORT_DEPARTURE_DURATION_MINUTES=10
AIRPORT_RUNWAY_CAPABILITIES_JSON=[{"id":"RWY-1","maxLengthMeters":3600},{"id":"RWY-2","maxLengthMeters":2800}]